
<ion-toolbar  color="primary">
  <ion-title>Filmes</ion-title>
  <ion-buttons slot="secondary">
      <ion-item
      color="primary"
      [routerLink]="'/cadastro-page'"
      routerDirection="forward"
    > <ion-button fill="outline">
      <ion-icon slot="start" name="add-circle"></ion-icon>
      Novo  </ion-button></ion-item>
   
  </ion-buttons>
</ion-toolbar>
<ion-content>
<ion-list >
  <ion-item *ngFor="let filme of listaFilmes" [routerLink]="'/update-delete-page'"
  routerDirection="forward" [state]="filme" >
  <div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="{{filme.base64Image}}"/>
      <h1>{{filme.name}}</h1>
      <h4>{{filme.author}}</h4>
      <span class="minutes">{{filme.note}}</span>
      <p class="type">{{filme.genre}}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{filme.description}}
      </p>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>
</ion-item>

</ion-list>
</ion-content>