<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list >
  <ion-item *ngFor="let filme of listaFilmes">
  <div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="{{filme.base64Image}}"/>
      <h1>{{filme.name}}</h1>
      <h4>{{filme.author}}</h4>
      <span class="minutes">{{filme.note}}</span>
      <p class="type">{{filme.genre}}</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        {{filme.description}}
      </p>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>
</ion-item>

</ion-list>
</ion-content>